h1{
    font-size: 5rem;
    color: rgb(255, 104, 205);
    text-align: center;
    margin: 5rem;
    font-family: 'Poppins', sans-serif;
}

h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

img
{
    margin: 2em auto;
    margin-left: 45%;
    width: 200px;
}